## Image Version https://hub.docker.com/r/chocobozzz/peertube/tags
#TAG=production

## Timezone inside the containers. The value needs to be in the form 'Continent/City'.
## A list of these tz database names can be looked up at Wikipedia
## https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=UTC

# Database / Postgres service configuration
POSTGRES_USER=peertube
POSTGRES_PASSWORD=CHANGE_ME
# Postgres database name "peertube"
POSTGRES_DB=peertube

PEERTUBE_DB_USERNAME=peertube
PEERTUBE_DB_PASSWORD=CHANGE_ME
# Default to Postgres service name "postgres" in docker-compose.yml
PEERTUBE_DB_HOSTNAME=peertube-postgres

# Server configuration
PEERTUBE_WEBSERVER_HOSTNAME=video.example.org

# E-mail configuration
# If you use a Custom SMTP server
PEERTUBE_SMTP_USERNAME=CHANGE_ME
PEERTUBE_SMTP_PASSWORD=CHANGE_ME
# Default to Postfix service name "postfix" in docker-compose.yml
# May be the hostname of your Custom SMTP server
PEERTUBE_SMTP_HOSTNAME=smtp.example.com
PEERTUBE_SMTP_PORT=587
PEERTUBE_SMTP_FROM=noreply.video@example.org
PEERTUBE_SMTP_TLS=false
PEERTUBE_SMTP_DISABLE_STARTTLS=false
PEERTUBE_ADMIN_EMAIL=contact@example.org

# If you need more than one IP as trust_proxy
# pass them as a comma separated array:
PEERTUBE_TRUST_PROXY=["127.0.0.1", "loopback", "172.18.0.0/16", "2001:db8:2::/64"]

# /!\ Prefer to use the PeerTube admin interface to set the following configurations /!\
#PEERTUBE_SIGNUP_ENABLED=true
PEERTUBE_TRANSCODING_ENABLED=true
#PEERTUBE_CONTACT_FORM_ENABLED=true
